@charset "utf-8"

body{
    background-color: rgb(110, 173, 245);
}
h1{
    color: rgb(121, 20, 20); 
    text-align: center;
}
/* 선 스타일은 치수, 선 종류, 색상의 순으로 기입한다. */
header{
    border-bottom: 1px solid black;
}
/* text shadow setting >> H, V, Blur, Color */
h2{
    color: blue;
    text-shadow: 3px 3px 5px blue;
}
nav ul{
    margin: 10px;
   padding: 20px;
   border: 1px dotted black;
}
a{
    text-decoration: none;
}
p{
    font-family: "Nanum Pen Script";
    text-indent: 1em;
    font-size: 1em;
}
footer{
    text-indent: 1em;
    background-color: rgb(245, 146, 33);
    border-radius: 10px;
}