@charset "utf-8";

$colors:(
    red:#f03c3c,
    blue:#16709e,
    green:#34bf57,
    pink:#f9e9e2,
    gray:#8d8583,
    bk:#000000
);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background:transparent;
}
a{
    text-decoration: none;
}
body{
    width:100%;
    height:100vh;
    min-width:425px;
    -webkit-text-size-adjust: 100%;
    font-size:16px;
    font-family: "Montserrat", sans-serif;
    background-color: map-get($colors, pink);
}

header{
    width: 100%;
   /*  height: 21.48vh; */
    height: 5.2vh;
    position: fixed;
    background-color: map-get($colors, pink );
    #home{
        
        margin: {
            top: 1.5rem;
            left: 1.5rem; 
        }
        p{
            font-size: 1.0625rem;
            font-weight: bolder;
            a{
                color: black;
            }
        }
    }
}

/* click menu */
ul{
    z-index: 1000;
    position: fixed;
    right: -120px;
    top: 400px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translate(20px,0);
    li{
    display: inline-block;
    list-style: none;
    margin-left: 4.25rem;
    color: map-get($colors, pink);
    font-size: 0.6875rem; 
    a{
        color: map-get($colors,pink );
    } 
    }
    
}
#current{
    display: none;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    position: fixed;
    top: 300%;
    right: -8%;
        li{
            transform: rotate(180deg);
            float: right;
            font-size: 0.6875rem;
            margin-left: 2.0rem; 
            a:hover{
                font-weight: 600;
                color: map-get($colors, pink );
            }
        }
}
#hello{
    z-index: 1000;
    position: fixed;
    right: 80px;
    bottom: 22px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: map-get($colors, red );
    p{
        position: fixed;
        right: 60px;
        bottom: 24px;
        width: 10px;
        height: 10px;
        size: 0.6875rem; 
        font-style: italic;
        a{
            color: map-get($colors, pink );
        }
    }
}
#scroll{
    position: fixed;
    bottom: 24px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 8px;
    z-index: 1000;
    .dot{
        display: block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: map-get($colors, pink);
        margin-bottom: 9px;
    }
}

/* page1 */

#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    /* padding-top:21.48vh; */
    #main{
        position: absolute;
        left: 34.571%;
        top: 25%;
        width: 65.429%;
        height: 75.18%;
        z-index: -100;
        background-color: map-get($colors,blue);
    }
}
#title{
        position: absolute;
        left: 17.3%;
        top: 8%;
        z-index: 1000;
    #title1{
        padding-top: 21.48vh;
        span{
            font-size: 4.5rem;
            color: map-get($colors,green);
            font-weight: 900;
        }
    }
    #title2{
        span{
            font-size: 5.5rem;
            color: map-get($colors,bk );
            font-weight: 900;
        }
    }
}
#direction1{
    position: absolute;
    bottom: -18%;
    left: 52%;
}

/* page2 */

#page2{
    position: relative;
    width: 100%;
    height: 100vh;
    #about{
        font-family: 'Kakao';
        position: absolute;
        top: 25%;
        width: 78%;
        height: 75.18%;
        z-index: -100;
        background-color: map-get($colors,green);
    }
}

/* page3 */
#page3{
    position: relative;
    width: 100%;
    height: 100vh;
    #portfolio{
        position: absolute;
        left: 2.5%;
        width: 95%;
        height: 100%;
        z-index: -100;
        background-color: map-get($colors,red);
        #direction2{
            position: absolute;
            top: 40%;
            left: -5%;
            transform: rotate(90deg)scaleY(-1);
            
        }
    }
}
/* page4 */
#page4{
    width: 100%;
    height: 94.9vh;
    #contact{
        position: relative;
        left: 2.5%;
        width: 95%;
        height: 100%;
        z-index: -100;
        #direction3{
            position: absolute;
            top: 48%;
            left: 28%;
            z-index: 1000;
        }
        #pink{
            position: relative;
            #talk{
                #span1{
                    span{
                        position: absolute;
                        left: 18%;
                        top: 18%;
                        font-size: 3.1875rem;
                        font-weight: 900;
                        color: map-get($colors,blue );
                    }
                }
            }
            #mail{
                position: relative;
                width: 100%;
                height: 94.9vh;
                #button{
                    position: absolute;
                    top: 46%;
                    left: 18%;
                    width: 16%;
                    height: 10vh;
                    background-color: map-get($colors,blue );
                    span{
                        position: absolute;
                        right: -2%;
                        font-size: 1.9375rem;
                        font-weight: 900;
                        color: map-get($colors,pink);
                    }
                    span:last-child{
                        margin-top: 7%;
                    }
                    
                }
            }
        }
    }
    
}