@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap');

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
body{
    font-family: 'Kakao','Karla','Montserrat';
}
#wrapper{
    width: 1900px;
    height: 1820px;
    overflow: hidden;   
}
header{
    height: 105px;
    /* background-color: bisque; */
}

#logo{
    float: left;
    margin-left: 350px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color:#606060;
    font-weight: bolder;
}
ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin: 30px;
    margin-top: 45px;
}
ul li:nth-of-type(1){
    margin-left: 190px;
}
#search{
    float: right;
    margin-right: 350px;
    margin-top: 35px;
}
#topMenu a:hover{
    color: #6a3b33;
}
#productMenu{
    position: relative;
    width: 100%;
    height: 240px;
    
}
#productTitle{
    position: absolute;
    font-size: 2.25em;
    top: 90px;
    left: 880px;
}
#productList{
    position: absolute;
    top: 170px;
    left: 580px;
}
#productList ul li{
    margin: 0 60px;
    color: #606060;
}
#productList ul li a:hover{
    color: #6a3b33;
    font-weight: bolder;
}

/* 제품 사진들 */

#productGallery{
    position: relative;
    width: 1550px;
    height: 767px;
    overflow: hidden;
}
#article2{
    position: absolute;
    top: 388px;
}
.productCategory{
    position: absolute;
    text-align: center;
    left: 350px;
    width: 100px;
    height: 374px;
    font-size: 1.25em;
    font-weight: bolder;
    color: #020202;
}
.productCategory span{
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #6a3b33;
    margin: 15px;
    transition: background-color 0.6s ease;
}
.button{
    position: absolute;
    text-align: center;
    width: 100px;
    height: 100px;
    top: 100px;
    
}
.prev, .next{
    cursor: pointer;
    font-size: 1.5em;
    color: #606060;
    user-select: none;
}
.button .next{
    position: absolute;
    top: 100px;
    size: 2.0em;
}


.dot:hover{
    background-color: #717171;
    scale: 1.8;
}
.productImg{
    position: absolute;
    width: 1600px;
    height: 373px;  
    left: 450px;
    overflow: hidden;
}
.productImg .model:nth-of-type(2){
    margin-left: 10px;
}
.productImg .model:nth-of-type(3){
    margin-left: 10px;
}

.model{
    width: 500px;
    height: 374px;
    background-color: #6a3b33;
    float: left;
    z-index: -10;
}
.model img{
    width: 100%;
    height: 300px;
}
.model p{
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    z-index: 10;
    width: 100%;
    height: 74px;
    margin: 15px 0 15px 40px;
}
/* #article2{
    position: relative;
}
#article2 .productImg .model:nth-of-type(1){
    position: absolute;
    left: -80px;
}
#article2 .productImg .model:nth-of-type(2){
    position: absolute;
    left: 420px;
}
#article2 .productImg .model:nth-of-type(3){
    position: absolute;
    left: 930px;
} */

/* quick menu */
#quick{
    position: fixed;
    z-index: 10;
    width: 80px;
    height: 480px;
    background: rgba(247,247,247, 0.7);
    border-radius: 50px;
    right: 50px;
    top: 200px;
    font-size: 0.9em;
    box-shadow: 5px 5px 8px #292a2bc0;   
}
#icon{
    align-items: center;
    margin: 40px 5px;
}
#quick img{
    width: 32px;
}
.iconMenu{
    width: 70px;
    text-align: center;
    margin-top: 35px;
}
/* catalog */

#catalogue{
    position: relative;
    width: 100%;
    height: 332px;
    text-align: center;
}
#catalogue>p{
    position: absolute;
    top: 105px;
    left: 810px;
    text-align: center;
    font-size: 1.5em;
    color: #6a3b33;
    font-weight: bolder;
    width: 390px;
    height: 85px;
    border: 2px solid #6a3b33;
    border-radius: 15px;
    line-height: 85px;
    box-shadow: 5px 5px 8px #6060604b;   
}

/* footer  */
footer{
    position: relative;
    width: 100%;
    height: 385px;
    background: #6a3b33;
}
#info1 ul li{
    color: white;
}
#info1{
    position: absolute;
    left: 160px;
}
#info2{
    position: absolute;
    color: white;
    top: 150px;
    left: 350px;
}
#info2 P{
    margin-top: 8px;
}
#logo2{
    position: absolute;
    top: 100px;
    right: 350px;
}
#top p{
    position: absolute;
    width: 100%;
    height: 65px;
    top: 330px;
    color: white;
    background: #532f28;
    font-size: 2.0em;
    font-weight: bolder;
    text-align: center;
    line-height: 65px;
}