@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
#background{
    position: relative;
}
#background div:nth-of-type(1){
    border-radius: 50%;
    background-color:#367ec3;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -100px;
    top: -100px;   
}
#background div:nth-of-type(2){
    border-radius: 50%;
    background-color: #fcc800;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -50px;
    top: 80px   
}
#background div:nth-of-type(3){
    border-radius: 50%;
    background-color: #fcc800;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -30px;
    top: 320px;   
}
#background div:nth-of-type(4){
    border-radius: 50%;
    background-color: #fcc800;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 80px;
    top: 320px;   
}
#background div:nth-of-type(5){
    border-radius: 50%;
    background-color: #367ec3;
    width: 280px;
    height: 280px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -105px;
    top: 850px;    
}
#background div:nth-of-type(6){
    border-radius: 50%;
    background-color: #367ec3;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 1350px;   
}
#background div:nth-of-type(7){
    border-radius: 50%;
    background-color: #fcc800;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -20px;
    top: 1800px;  
}
#background div:nth-of-type(8){
    border-radius: 50%;
    background-color: #367ec3;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -20px;
    top: 2200px;
}
