@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap');

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}
body{
    
    font-family: 'Karla','Montserrat';
}

#menu1024{
    display: none;
}
#background{
    position: relative;
    z-index: -10;
    /* 차곡차곡 쌓을 때 z-index 사용 */
}
#background div:nth-of-type(1){
    border-radius: 50%;
    background-color:#367ec3;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -100px;
    top: -100px; 
   
}
#background div:nth-of-type(2){
    border-radius: 50%;
    background-color: #fcc800;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -50px;
    top: 80px   
}
#background div:nth-of-type(3){
    border-radius: 50%;
    background-color: #fcc800;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -30px;
    top: 320px;   
}
#background div:nth-of-type(4){
    border-radius: 50%;
    background-color: #fcc800;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 80px;
    top: 320px;   
}
#background div:nth-of-type(5){
    border-radius: 50%;
    background-color: #367ec3;
    width: 280px;
    height: 280px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -105px;
    top: 850px;    
}
#background div:nth-of-type(6){
    border-radius: 50%;
    background-color: #367ec3;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 1350px;   
}
#background div:nth-of-type(7){
    border-radius: 50%;
    background-color: #fcc800;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -20px;
    top: 1800px;  
}
#background div:nth-of-type(8){
    border-radius: 50%;
    background-color: #367ec3;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -20px;
    top: 2200px;
}

#contain{
    width: 320px;  
    height: 2350px;   
    margin: 0;         
    position: relative;  
    z-index: -10;                           
}
nav>img:nth-of-type(1){
    width: 40px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
nav>img:nth-of-type(2){
    width: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#title{
    clear: both;  
    margin-left: 60px;
}
#hello p:nth-of-type(1){
   line-height: 3; 
   /* 3배수 */
    margin-left: 60px;
}
#hello p:nth-of-type(2){
    line-height: 6px;
    /* 6px만큼 */
    margin-left: 60px;
}
#title>img{
    float: left;
    margin: 0;
    width: 50px;
    height: 50px;
}

#title p:nth-of-type(1){
    font-size: 0.75em;
}
#title p:nth-of-type(2){
    font-size: 1.5em;
    font-weight: bold;
}
.titleS{
    clear: both;
    margin-top: 80px;
    font-weight: bold;
    margin-left: 10px;
}
.titleS p:nth-of-type(1){
    color: #fcc800;
    font-size: 1.0em;
    
}
.titleS p:nth-of-type(2){
    color: #292835;
    font-size: 1.5em;
    font-weight: bold;
    
}

#skills{
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-left: 110px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#skills img{
    width: 100px;
    height: 100px;
}
#hobby{
    color: #292835;
    display: flex;
    margin-bottom: 20px;
    flex-flow: row wrap;
    justify-content: center;
    font-weight: bolder;
}

#hobby p{
    margin-left: 20px;
    margin-right: 20px;
}
#hobby p:nth-of-type(4){
    margin-left: 5px;
    margin-right: 45px;
}
#hobby p:nth-of-type(5){
    margin-left: 10px;
    margin-right: 30px;
}
#hobby p:nth-of-type(6){
    margin-left: 30px;
    margin-right: 10px;
}
#gallery{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#gallery img{
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgb(122, 121, 121);
}
#contact{
    width: 100%;
    height: 100px;    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#contact p{
    font-size: 1.5em;
    line-height: 1.5;
    color: #fcc800;
}
#contact a img{
    width: 35px;
}

/* Start here for media */


@media screen and (min-width:768px)
{

    #contain{
        width: 100%;
        height: 100%;
        font-size: 1.5em;
    }
    
    #background div:nth-of-type(1){
        width: 375px;
        height: 375px;
        right: -150px;
        top: -150px; 
    }
    #background div:nth-of-type(2){
        background-color: #367ec3;
        width: 150px;
        height: 150px;  
        left: -50px;
        top: 120px
    }
    #background div:nth-of-type(3){      
        width: 225px;
        height: 225px;
        right: -60px;
        top: 400px;  
    }
    #background div:nth-of-type(4){
        width: 75px;
        height: 75px;
        right: 90px;
        top: 400px;   
    }
    #background div:nth-of-type(5){
        width: 420px;
        height: 420px;
        left: -105px;
        top: 650px;    
    }
    #background div:nth-of-type(6){
        width: 225px;
        height: 225px;
        right: 50px;
        top: 1150px;   
    }
    #background div:nth-of-type(7){
        width: 375px;
        height: 375px;
        left: -20px;
        top: 1400px;  
    }
    #background div:nth-of-type(8){
        width: 375px;
        height: 375px;
        right: -20px;
        top: 1700px;
    }
    #roll>header>nav>img{
        width: 45px;
    }
    #title>img{
        width: 75px;
        height: 75px;
        margin-left: 50px;
    }
    #hello{
        margin-left: 90px;
    }
    .titleS{
        margin-left: 50px;        
    }
    #skills img{
        width: 20%;
        height: 20%;
    }
    #skills{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex; 
        flex-flow: row nowrap;
        justify-content: center;
    }
    #gallery{
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;        
}
#gallery img{
    margin: 30px;
}
#gallery img:last-child{
    margin-right: 430px; 
}
#contact p{
    position: absolute;
    right: 250px;
}
#contact a img{
    width: 52.5px;
}
}
@media screen and (min-width:1024px)
{
    #contain{
        width: 100%;
        height: 100%;
    }
    header{
        height: 500px;
    }
    #menu1024{
        float: right;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.8em;
        width: 500px;
        z-index: 5;    
    }
    #menu1024 p{
        display: inline-block;
        padding: 10px;
    }
    #menu1024 p:nth-of-type(4){
        background-color: white;
        margin: 0;
        border-radius: 50px;
        color: #2a659c;
        font-weight: bold;
        box-shadow: 10px 10px 5px;
    }
    header>nav>img:nth-of-type(2){
        display: none;
    }   
    #background div:nth-of-type(1){
        width: 475px;
        height: 475px;
        right: -150px;
        top: -150px; 
    }
    #background div:nth-of-type(2){
        background-color: #fcc800;
        width: 190px;
        height: 190px;  
        left: -90px;
        top: 350px
    }
    #background div:nth-of-type(3){      
        width: 225px;
        height: 225px;
        right: -30px;
        top: 850px;  
    }
    #background div:nth-of-type(4){
        width: 75px;
        height: 75px;
        right: 130px;
        top: 850px;   
    }
    #background div:nth-of-type(5){
        width: 420px;
        height: 420px;
        left: -105px;
        top: 1080px;    
    }
    #background div:nth-of-type(6){
        width: 225px;
        height: 225px;
        left: 1000px;
        top: 1400px;   
    }
    #background div:nth-of-type(7){
        width: 375px;
        height: 375px;
        left: 300px;
        top: 1700px;  
    }
    #background div:nth-of-type(8){
        width: 375px;
        height: 375px;
        right: -20px;
        top: 1850px;
    }
    #roll>header>nav>img{
        position: absolute;
        left: 60px;
        width: 100px;
    }

    #title>img{
        width: 120px;
        height: 120px;
        margin-left: 200px;
        margin-top: 100px;
    }
    #hello{
        font-size: 1.8em;
        padding-top: 90px;
        margin-left: 290px;
    }
    .titleS{
        margin-left: 150px;        
    }
    #skills img{
        width: 15%;
        height: 15%;
    }
    #skills{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex; 
        flex-flow: row nowrap;
        justify-content: center;
    }
    #gallery{
        display: flex; 
        flex-flow: row;
        justify-content: center;  
        margin-top: 30px;      
    }
    #gallery div{
        width:300px;
    }
    #gallery div img{
        margin: 20px;
    }
    footer{
        height: 200px;
    }
    #contact{
        position: absolute;
        top: 1950px;
    }
    #contact p{
        position: absolute;
        right: 250px;
    }
    #contact a img{
        width: 52.5px;
    }
}
